#container {
  background-color: blueviolet;
}

#image-one { background-color: aqua;

}

#image-two { background-color: aquamarine;

}

#image-three { background-color: bisque;

}

#show-results-btn {
  background-color: aliceblue
}

#display-results {
  background-color: #FFC0CB
}